<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Metro" version="0.5.0" targetFramework="net48" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net48" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net48" />
  <package id="ControlzEx" version="5.0.0" targetFramework="net48" />
  <package id="Fody" version="6.4.0" targetFramework="net48" developmentDependency="true" />
  <package id="InputSimulatorPlus" version="1.0.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.4.4" targetFramework="net48" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Ookii.Dialogs.Wpf" version="3.1.0" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.3.3" targetFramework="net48" />
</packages>